In [2]:
import pandas as pd
import numpy as np


df1 = pd.read_csv('train.csv')

#delete unneccessary columns
df1 = df1.drop(columns=['customer_id','name'])

In [5]:
df1

,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,55,F,N,N,2.0,96207.57,117.0,Unknown,4.0,0.0,11229.54,29663.83,82,907.0,0,0,0
45524,31,F,N,Y,0.0,383476.74,966.0,Accountants,2.0,1.0,43369.91,139947.16,32,679.0,0,0,0
45525,27,F,N,Y,0.0,260052.18,1420.0,Core staff,2.0,0.0,22707.51,83961.83,46,727.0,0,0,0
45526,32,M,Y,N,0.0,157363.04,2457.0,Laborers,2.0,0.0,20150.10,25538.72,92,805.0,0,0,0
45527,38,M,N,Y,1.0,316896.28,1210.0,Unknown,3.0,0.0,34603.78,36630.76,26,682.0,0,0,0

In [6]:
##Filling in empty values ##########


#OWNS CAR
df1['owns_car'].fillna(0, inplace=True)

#CHILDREN
children_mean = int(df1['no_of_children'].mean())
df1['no_of_children'].fillna(children_mean, inplace=True)

#Migrant
df1['migrant_worker'].fillna(0, inplace=True)

#debt
debt_median = df1['yearly_debt_payments'].median()
df1['yearly_debt_payments'].fillna(debt_median, inplace=True)

#employment
days_worked = df1['no_of_days_employed'].median()
df1['no_of_days_employed'].fillna(days_worked, inplace=True)

#total family
family_mean = int(df1['total_family_members'].mean())
df1['total_family_members'].fillna(family_mean, inplace=True)


#credit score
credit_score = int(df1['credit_score'].median())
df1['credit_score'].fillna(credit_score, inplace=True)

In [7]:
#one-hot-encode the categorical data

final_df1 = pd.get_dummies(df1, columns=['gender', 'owns_car','owns_house','occupation_type'])

#remove the extra dimensions
final_df1 = final_df1.drop(columns=['owns_car_0','owns_car_N','owns_house_N'])

q = final_df1.pop('credit_card_default')
final_df1['credit_card_default'] = q

In [8]:
#need to normalize the data otherwise it will skew horribly

normalized_df=(final_df1-final_df1.min())/(final_df1.max()-final_df1.min())

In [9]:
normalized_df['default_in_last_6months']

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
45523    0.0
45524    0.0
45525    0.0
45526    0.0
45527    0.0
Name: default_in_last_6months, Length: 45528, dtype: float64

In [6]:



#write the data to new csv files
normalized_df.to_csv('clean_data.csv', index=False)